<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Concerto CMS{% endblock %}</title>
    {% stylesheets '@ConcertoCmsAdminBundle/Resources/public/css/app.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% set appleFormats = [57, 114, 72, 144, 60, 120, 76, 152, 180] %}
    {% set favFormats = [192,160,96,16,32] %}

    {% for format in appleFormats %}
        <link rel="apple-touch-icon" sizes="{{ format }}x{{ format }}" href="{{ asset('bundles/concertocmsadmin/images/apple-touch-icon-' ~ format ~ 'x' ~ format ~ '.png') }}">
    {% endfor %}
    {% for format in favFormats %}
        <link rel="icon" type="image/png" sizes="{{ format }}x{{ format }}" href="{{ asset('bundles/concertocmsadmin/images/favicon-' ~ format ~ 'x' ~ format ~ '.png') }}">
    {% endfor %}
    <meta name="msapplication-TileColor" content="#911146">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/concertocmsadmin/images/mstile-144x144.png') }}">
</head>
<body>
{% block body %}{% endblock %}
{% javascripts
'@ConcertoCmsAdminBundle/Resources/public/js/base.js'
'bundles/fosjsrouting/js/router.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>
